name: Sync Labels

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

jobs:
  sync:
    runs-on: ubuntu-24.04
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v6
      - name: Sync labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          skip-delete: true
